body {
    background: #DDA5B6;
    font-family:Arial, Halvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: #3f698aad;
}

.assignment img { 
    width:200px;
    padding:10px;
}

h1 { 
    color:#F2CC8C;
    text-align: center;
}